<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="ModeloPortal4Entities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EC2AMAZ-1LEB966\SQLEXPRESS;initial catalog=ModeloPortal5;persist security info=True;user id=sa;password=RrcHCu51e44iiUMsRi3f;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="ModeloPortal4Entities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EC2AMAZ-1LEB966\SQLEXPRESS;initial catalog=ModeloPortal5;user id=sa;password=RrcHCu51e44iiUMsRi3f;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ModeloPortal4Entities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GSD3G77\SQLEXPRESS;initial catalog=ModeloPortal4;persist security info=True;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
  <!-- Configuración de la app-->
  
  <appSettings>

    <add key="Usuario" value="soporte@backspace.cl" />
    <add key="Password" value="BackSpaceS2019" />
    <!-- Agregar ";" para seperar correos no deseados -->
    <add key="ListaNegra" value="soporte@backspace.cl;BizagiAdmin@Bizagi.com;email@mail.salesforce.com;Refresh2021@freshworks.com;qmcsupport@qmctelecom.com;meetings-noreply@google.com;meet-recordings-noreply@google.com" />

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
